@font-face {
  font-family: "Monoton";   /*Can be any text*/
  src: local("Monoton-Regular"),
    url("/fonts/Monoton/Monoton-Regular.ttf") format("truetype");
}

.header {
  font-family: Monoton;
  position: relative;
  padding: 4%;
  display: flex;
  justify-content: space-between;
  background-color: aqua;
}

.headerL {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid black;
  border-radius: 2%;

}

.headerImg {
  width: 50%;
  border-radius: 2%;
}

.headerR p {
  // position: absolute;
  font-size: 60px
  
  
}

