@font-face {
  font-family: "Monoton";   /*Can be any text*/
  src: local("Monoton-Regular"),
    url("/fonts/Monoton/Monoton-Regular.ttf") format("truetype");
}

.h1 {
  font-family: Monoton;
  font-size: 60px

}
